body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #88d0ce;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.section {
    height: 100vh;
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu li {
    flex: 1;
    text-align: center;
    position: relative;
}
.menu a {
    display: block;
    padding: 20px 0;
    color: white;
    text-decoration: none;
}
.menu a:hover {
    background-color: #171f5e;
}
.menu li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 10%;
    right: 0;
    height: 80%;
    width: 1px;
    background-color: white;
}
.navbar {
    background-color: #1f95b6;
}

.titre {
    text-align: center;
    margin-top: 50px;
}

h1 {
    text-decoration: underline;
}


.pp {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


.descImg {
    text-align: center;
    padding-top: 10px;
}


#expliPP {
    background-color: rgb(34, 179, 187);
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px; 
    text-align: center;
}

#photoProfil {
    padding-top: 50px;
    margin-top: 40px;
    margin-left: 90px;
    margin-right: 90px;
}

#moi {
    text-align: center;
    padding: 10px;
    border: 2px solid black;
}

.lien {
    background-color: rgb(95, 139, 183);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-left: 870px;
    margin-right: 870px;
}

.cv {
    text-align: center;
    margin-top: 100px;
}


.intro {
    text-align: center;
    background-color: rgb(109, 142, 192);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 45px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 92px;
    margin-top: 40px;
}

th, td {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

th {
    text-align: center;
    background-color: #f2f2f2;
}



.ti {
    text-align: center;
    text-decoration: none;
    
}

.beau {
    display: flex;
    align-items: center;
    margin-left: 80px;
    margin-bottom: 50px;
}

.com {
    margin-right: 20px;
}

.sql {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.qualite {
    background-color: #1f95b6;
    margin-left: 200px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.expli {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
}

#compe {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: none;
    align-content: center;
    margin-top: 80px;
}

#texteExpli {
    margin-bottom: 10px;
    text-align: center;
    
}

.bddEx {
    background-color: rgb(34, 179, 187);
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    line-height: 30px;
}

#haut {
    font-size: 30px;
    align-content: center;
    text-align: center;
    background-color: aquamarine;
    text-decoration: none;
    margin-left: 500px;
    margin-right: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 80px;
    color: black;
}

.illu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.left-column, .right-column {
    flex: 1;
    padding: 20px;
    margin-left: 50px;
    text-align: center;
}


.left-column2 {
    flex: 1;
    padding: 20px;
    margin-left: 130px;
    text-align: center;
}

.photo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

h2 {
    margin-top: 50px;
    text-align: center;
    background-color: rgb(109, 142, 192);
    padding-top: 10px;
    padding-bottom: 10px;
}

.titreSae {
    text-align: center;
    border: 2px solid rgb(109, 142, 192);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 600px;
    margin-right: 600px;
}

.ligne {
    display: flex;
    margin-bottom: 20px;
    margin-top: 80px;
}
.cadre {
    width: 200px;
    height: 200px;
    border: 3px solid rgb(34, 179, 187);
    flex-grow: 1;
    position: relative;
    margin-left: 80px;
    margin-right: 80px;
}
.rempli-gauche {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    background-color: rgb(34, 179, 187);
    display: flex;
    align-items: center;
}
.rempli-droite {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 80%;
    background-color: rgb(34, 179, 187);
    display: flex;
    align-items: center;
}

#pho1 {
    padding-left: 80px;
}

.p1 {
    font-size: 22px;
    text-align: center;
    padding-left: 90px;
    font-weight: 600;
}

.pexpli {
    padding-left: 100px;
    padding-right: 20px;
}

#pho2 {
    padding-left: 150px;
    margin-right: 80px;
}

.p2 {
    padding-left: 90px;
    font-size: 22px;
    font-weight: 600;
}

.pexpli2 {
    padding-left: 35px;
}

#for {
    text-align: center;
    justify-content: center;
    margin-top: 140px;
    border-left: 4px solid rgb(109, 142, 192);
    margin-left: 780px;
    padding-right: 750px;
}

.conclusion {
    text-align: center;
}